.tableItemRow:hover .deleteIconButton {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 500px) {
  .tableCell {
    min-width: 160px;
  } 
}
.deleteIconButton {
  display: none;
}
